@use 'variables' as v;

@mixin typo($size: 12px) {
  font-size: $size;
  color: v.$c-defaultTypo;
}

@mixin color($color: v.$c-defaultTypo) {
  color: $color;
}

@mixin borderColor($color: v.$black-400) {
  border-color: $color;
}
