//color
$c-primary-btnTypo: #7e57c2 !default;
$c-success-600: #4caf50 !default;
$c-info-600: #0091ea !default;
$c-warning-600: #f9a825 !default;
$c-error-600: #d32f2f !default;
$c-defaultTypo: rgba(0, 0, 0, 0.87) !default;
$c-disabledTypo: rgba(0, 0, 0, 0.38) !default;
$c-black-T60: rgba(0, 0, 0, 0.6) !default;
$c-altnerativeTypo: #ffffff !default;

$black-900: #292a2c !default;
$black-800: #4b4c4e !default;
$black-700: #6a6c6e !default;
$black-600: #7f8083 !default;
$black-500: #a9aaad !default;
$black-400: #c7c8cb !default;
$black-300: #e9eaed !default;
$black-200: #f1f2f5 !default;
$black-100: #f6f7fa !default;
$black-50: #fafcfe !default;

$black-T48: rgba(41, 42, 44, 0.48) !default;
$black-T40: rgba(41, 42, 44, 0.4) !default;
$black-T32: rgba(41, 42, 44, 0.32) !default;
$black-T24: rgba(41, 42, 44, 0.24) !default;
$black-T16: rgba(41, 42, 44, 0.16) !default;
$black-T8: rgba(41, 42, 44, 0.08) !default;

$primary-900: #311b92 !default;
$primary-800: #4527a0 !default;
$primary-700: #512da8 !default;
$primary-600: #5e35b1 !default;
$primary-500: #673ab7 !default;
$primary-400: #7e57c2 !default;
$primary-300: #9575cd !default;
$primary-200: #b39ddb !default;
$primary-100: #d1c4e9 !default;
$primary-50: #ede7f6 !default;

$primary-T48: rgba(69, 39, 160, 0.48) !default;
$primary-T40: rgba(69, 39, 160, 0.4) !default;
$primary-T32: rgba(69, 39, 160, 0.32) !default;
$primary-T24: rgba(69, 39, 160, 0.24) !default;
$primary-T16: rgba(69, 39, 160, 0.16) !default;
$primary-T8: rgba(69, 39, 160, 0.08) !default;

//font-size
$h1: 96px !default;
$h2: 60px !default;
$h3: 48px !default;
$h4: 34px !default;
$h5: 24px !default;
$h6: 20px !default;
$s1: 16px !default;
$s2: 14px !default;
$body1: 16px !default;
$body2: 14px !default;
$button: 14px !default;
$caption: 12px !default;
$overline: 10px !default;
