.seed-button {
  background-color: black;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 19px;
  color: #ffffff;
  cursor: pointer;

  &.seed-button-white {
    background-color: white;
    color: black;
  }

  &.seed-button-black {
    background-color: black;
    color: white;
  }
}
